<!DOCTYPE html>
<html>
<head>
	<title>{% block title %} {% endblock %}</title>
	<style>
		body
		{
			color: #ffa812;
			text-align: center;
			background-image: url('https://images.wallpaperscraft.com/image/airplane_photoshop_sunset_wharf_120008_1920x1080.jpg');
			background-size: 100%;
		}
		li, h2
		{
			text-align: left;
			color: #ffa812;
		}
		h3,h4
		{
			color: #ffa812;
		}
		select, input, button
		{
			background-color: #ffa812;
		}
		a
		{
			font-weight: bold;
			font-size: 25px;
		}

	</style>
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/">
</head>
	<body>
		<h1>{% block heading %}{% endblock %}</h1>
		<div class="container">
			{% block body %}
			{% endblock %}
		</div> 
	</body>
</html>