<!DOCTYPE html>
<html>
<head>
	<title>{% block title %} {% endblock %}</title>
	<style>
		body
		{
			color: rgb(255,204,203);
			text-align: center;
			background-image: url('https://images.wallpaperscraft.com/image/airplane_photoshop_sunset_wharf_120008_1920x1080.jpg');
			background-size: 100%;
		}
		li
		{
			text-align: left;
			color: rgb(255,204,203);
		}
		div
		{
			color: rgb(255,204,203);
		}
		h2
		{
			text-align: left;
		}
		h3 
		{
			color: rgb(255,204,203);
		}

	</style>
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/">
</head>
	<body>
		<h1>{% block heading %}{% endblock %}</h1>
		<div class="container">
			{% block body %}
			{% endblock %}
		</div> 
	</body>
</html>